.twitter-login-darker {background:url('../img/darker.png') 0 0 no-repeat;width:151px;height:24px;}
.twitter-login-lighter {background:url('../img/lighter.png') 0 0 no-repeat;width:151px;height:24px;}